#home {
  background: url(./homebg.gif) 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  position: relative;
  margin: 82px 12px 0 12px;
}

.home-wrapper {
  background: rgba(250, 250, 250, 0.8);
  padding: 32px 12px;
}

.second {
  background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 2rem;
}

.home-links {
  background-color: #ff8400;
  text-align: center;
  padding: 0.3rem;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
}

.home-links:hover {
  background-color: black;
}

.items {
  width: 20vh;
  height: 20vh;
  text-align: center;
  color: black;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#lone-link {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 600px) {
  #home {
    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}
