body {
  width: 100%;
}

.instruments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and (max-width: 1347px) {
    > div {
      flex: 0 0 33.3333333%;
    }
  }

  @media screen and (max-width: 800px) {
    > div {
      flex: 0 0 50%;
    }
  }

  > div {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.form-box {
  width: 100vw;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
}
.btn-form {
  background-color: black;
  color: #ff8400;
  font-size: 1.5rem;
  padding: 0.6rem;
  width: 100%;
}

.btn-form:hover {
  width: 100%;
  background-color: white;
}

.form-signup {
  margin: 0 auto;
}

.form-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;

  form {
    width: 75%;

    input,
    select {
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }

    select {
      height: 3.3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-div {
    width: 100%;

    h2 {
      margin-top: 0;
    }
  }
}
